@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: rgb(39, 38, 38);
  font-family: 'Bebas Neue';
}
.profile {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.knowladge {
  display: flex;
  flex-flow: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;

}

.knowladge h1{
  color: white;
  text-align: left;
}
.knowladge h2{
  color: white;
  width: 300px;
  
}
.knowladg {
  display: flex;
  gap: 5px;
}

.knowladge-text, .work-text {
  text-align: center;
  font-size: 40px;
  color: white;
}

.email {
  text-align: center;
  color: white;
}

.work {
  height: 600px;
  position: relative;
}
